<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <title>Angular JS Demo - Modularity</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

  <script>
    // convention to use the suffix 'App' with top level modules 
    // that are associated with an HTML document
    // i.e. modules that are not purposed for organization
    var myApp = angular.module("exampleApp", []);

    // var controllerModule = angular.module("controllerModule", []);
    // .controller
    // .controller;

    // note: unlike with other JS functions, the order of the 'parameters'
    // does not matter
    myApp

    .controller("dayCtrl", function($scope, days){
      $scope.today      = days.today;
    })
    
    .controller("secCtrl", function($scope, days){
      $scope.tomorrow   = days.nextDay(1);
    });


    myApp.controller("weekCtrl", function($scope, days){
      $scope.comingWeek = comingWeek();      
      $scope.set        = function(day){
        $scope.today = day;
        $scope.tomorrow = (day + 1) % 7
      };

      function comingWeek(){
        var daysInWeek = 7;
        var result     = [];

        for (var i = 0; i < daysInWeek; i++) {
          result.push(days.nextDay(i));
        }

        return result;
      }

    });

    myApp.filter("dayName", function(){
      var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

      return function(input){
        return angular.isNumber(input) ? dayNames[input] : input;
      };
    });

    myApp.service("days", function(){
      var now       = new Date();

      this.today    = now.getDay();
      this.nextDay  = function(i){ return (this.today + i) % 7; };
    });

  </script>	
  <body ng-controller="weekCtrl">
    <div class="col-xs-4">
      <div class="panel">
        <div class="page-header">
          <h1>Side Bar</h1>
        </div>
        <div ng-repeat="day in comingWeek">
          <div class="btn btn-primary" ng-click="set(day)">{{ (day | dayName) || "Unknown" }}</div>
        </div>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="panel">
        <div class="page-header">
          <h1>Content</h1>
        </div>
        <h3 ng-controller="dayCtrl">Today is {{ (today | dayName) || "Unknown" }}</h3>
        <h3 ng-controller="secCtrl">Tomorrow is {{ (tomorrow | dayName) || "Unknown" }}</h3>
      </div>
    </div>
  </body>
</head>
</html>
